@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

html,
body {
  font-family: "Rubik", sans-serif !important;
  scroll-behavior: smooth;
  margin: 0;
  background-color: hsl(223, 19%, 93%);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25;
}

@layer base {
  :root {
    --color-background: hsl(223, 19%, 93%);
    --color-text: hsl(211, 10%, 45%);
  }
}
textarea::placeholder {
  color: hsl(211, 10%, 45%);
  opacity: 1;
}
